arabert==1.0.1
emoji==1.4.2
farasa==0.0.1
numpy==2.5.1
pandas==3.0.5
scikit_learn==1.9.0
scipy==1.18.0
Tashaphyne==0.3.6
torch==2.10.0
tqdm==4.66.5
tqdm==4.67.1
tqdm==4.67.3
transformers==4.43.4
